[tool.ruff]
target-version = "py311"
line-length = 120
exclude = [
  "tests",
  "translations",
]

[tool.ruff.lint]
select = [
  "E",  # pycodestyle
  "F",  # pyflakes
  "I",  # isort
  "W",  # warnings
  "N",  # pep8-naming
  "UP", # pyupgrade
  "B",  # flake8-bugbear
]
ignore = [
  "E501",  # line length handled by formatter/line-length
]
